.btn {
    border-radius: 0;
    border: 1px solid $secondary;
    padding: 1.8rem;
    border: 0;
    color: $white;
    width: 100%;
    box-shadow: none !important;
    @include media-breakpoint-up(md) {
        min-width: 16.6rem;
        width: auto;
    }

    &-primary {
        padding: 1.6rem;
        min-width: 16.6rem;
        background-color: $secondary;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            background-color: $primary;
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
            transition-property: transform;
            transform-origin: 0 0;
            transform: scaleX(0);
        }

        &:hover {
            background-color: $secondary;
            color: $white;
            &::before {
                @include media-breakpoint-up(md) {
                    transform: scaleX(1);
                }
            }
            span {
                position: relative;
                color: $white;
            }
        }
    }
    &-outline {
        border: 1px solid $secondary;
        color: $secondary;
        padding: 1.2rem 1.6rem;
        padding-right: 2.3rem;
        position: relative;
        text-align: left;

        @include media-breakpoint-up(md) {
            padding: 1.55rem 2.3rem;
            padding-right: 7.6rem;
        }
        @include media-breakpoint-up(lg) {
            padding-right: 8.6rem;
        }
        .icon-arrow-right {
            font-size: 1.3rem;
            position: absolute;
            right: 1.5rem;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
            @include media-breakpoint-up(md) {
                font-size: 1.542rem;
                right: 2.8rem;
            }
        }
        &:hover {
            .icon-arrow-right {
                @include media-breakpoint-up(md) {
                    transform: translate(15px, -50%);
                }
            }
        }
        &--center {
            min-width: 26.4rem;
            padding: 1.55rem 4.3rem;
            text-align: center;
        }
    }
}
