.info-banner-a01 {
    &__container {
        @include media-breakpoint-up(md) {
            padding: 11.2rem 0 !important;
        }

        & > .container {
            @media (min-width: 1200px) and (max-width: 1700px) {
                padding-left: 10.85rem;
                padding-right: 10.85rem;
            }
        }
    }

    &__header {
        h3 > span {
            @extend .line-draw-01, .line-draw-01--small, .text-white;
        }
    }
}
