@import '../common-imports';

.join-form-banner {
    &-header {
        h3 {
            @include media-breakpoint-down(md) {
                font-size: 6.4rem;
                line-height: 6.1rem;
            }
        }

        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4 {
            @include media-breakpoint-up(md) {
                margin: 0 -10%;
            }
        }
    }

    &-container {
        padding: 0 8px;

        @include media-breakpoint-up(md) {
            padding: 0;
        }

        & > .container {
            @media (min-width: 1200px) and (max-width: 1700px) {
                padding-left: 10.85rem;
                padding-right: 10.85rem;
            }
        }

        &.bg-voilet {
            color: $white;

            .form {
                &-join {
                    &-submit {
                        &::after {
                            background-color: $secondary;
                        }

                        .btn-secondary {
                            background-color: $orange;
                        }
                    }
                }

                &-control {
                    color: $white;
                    border-color: $orange;

                    &::placeholder {
                        color: $white;
                    }
                }
            }
        }
    }
}
