@import '../common-imports';

.card-a02 {
    $self: &;
    position: relative;
    overflow: hidden;

    * {
        transition: all 0.3s;
    }

    &:before {
        content: '';
        position: absolute;
        left: -100%;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: $black;
        transition: all 0.7s;
    }

    &:hover {
        #{$self}__title {
            color: $primary;
        }

        #{$self}__icon {
            transform: translateX(-40px);
        }

        &::before {
            left: 0px;
        }
    }
}
