@import '../common-imports';

.leadspace-03 {
    padding-bottom: 28rem;

    @include media-breakpoint-up(md) {
        padding-bottom: 20.2rem;
    }

    &+.stories {
        .stories {
            &__featured-story {
                margin-top: -16.9rem;

                @include media-breakpoint-up(md) {
                    margin-top: -8.9rem;
                }
                padding: 0;
            }
        }
    }

    
}
.search-results{
    padding-bottom: 8rem;
    @include media-breakpoint-up(lg){
        padding-bottom: 11rem;
    }
    &__js{
        .search-results {
            margin-top: -16.9rem;
            @include media-breakpoint-up(md) {
                margin-top: -8.9rem;
            }
            @include media-breakpoint-up(md) {
                margin-top: -13.8rem;
            }
        }
    }
}
