@import '../common-imports';


.stories {
  @include media-breakpoint-up(lg) {
    margin-top: -9rem;
    margin-bottom: -8.8rem;
  }

  &__featured-story {
    padding: 8rem 0 6rem;
    @include media-breakpoint-up(lg) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.title-with-bullets-a01{
  @include media-breakpoint-up(xl){
    padding-top: -17.5rem;
    padding-bottom: 11.2rem;
    &-header{
      @include media-breakpoint-up(xl){
        padding-right: 40%;
      }
    }
  }
  .title-with-bullets__list{
    @include media-breakpoint-up(xl){
      margin-left: -34%;
    }
  }
}
