@import '../common-imports';

.two-col-with-form {
    padding: 11.2rem 0;

    &-header {
        h2 {
            @include media-breakpoint-down(sm) {
                font-size: 7.4rem !important;
                line-height: 6.4rem !important;
            }
        }
        .line-draw-01::after{
            margin-top: .6rem;
        }
    }

    &-description {
        h6 {
            font-family: $font-family-sans-serif;
            font-weight: $font-weight-bold;
            font-size: 2.2rem;
            line-height: 3rem;

            @include media-breakpoint-up(md) {
                font-size: 3rem;
                line-height: 3.8rem;
            }
        }
        a{
            color: $primary;
            text-decoration: underline;
        }
    }

    .social-links {
        li {
            font-size: 2.6rem;

            &:not(:first-child) {
                margin-left: 2.2rem;
            }
        }
    }

    &--leadspace {
        padding: 15.1rem 0 0;

        @include media-breakpoint-up(lg) {
            padding: 23.4rem 0 0;
        }

        .two-col-with-form {
            &-header {
                margin-bottom: 4.8rem !important;

                @include media-breakpoint-up(md) {
                    margin-bottom: 5.2rem !important;
                }

                // h2,
                // .h2-large {
                //     letter-spacing: 0.01em;
                //     font-size: 7.4rem !important;
                //     line-height: 6.4rem !important;

                //     @include media-breakpoint-up(xl) {
                //         font-size: 9.3rem !important;
                //         line-height: 8.5rem !important;
                //     }
                // }
            }
        }
        .form-wrapper {
            iframe {
                // background-color: red;
            }
        }

        &[class*='bg-'] {
            .form-wrapper {
                background-color: $white;
                padding: 4.8rem 2rem;
                border-radius: 3px;
                margin-bottom: -65%;

                @include media-breakpoint-up(lg) {
                    margin: 0 0 -6.3rem 0;
                }

                @include media-breakpoint-up(xl) {
                    padding: 3.7rem 4.8rem 4.4rem;
                    margin: 0 -4.8rem -6.3rem 4.8rem;
                }
            }
        }
    }
    &.bg-voilet{
        color: $white;
        .line-draw-01 {
            &:after{
                background-color: $white;
            }
        }
    }
    &+.two-col-listing,
    &+script+.two-col-listing{
        border-top: 1px solid $gray-border;
    }
}
