@import '../common-imports';

.two-col-listing {
    &__left-col {
        @include media-breakpoint-up(md) {
            border-right: 1px solid $gray-border;
            height: 100vh;
            background-color: unset !important;
        }
    }

    &__timeline {
        .card-a03--small:last-child {
            .card-a03--small__bar {
                border: none;
            }
        }

        div {
            &:first-child {

                @include media-breakpoint-up(xl) {
                    margin-top: 8px;
                }
            }
        }
    }

    .card-sidebar {
        @include media-breakpoint-up(xl) {
            margin-top: 8px;
        }

        &__state-img img {
            width: 10rem;
        }

        &__item {
            $self: &;
            position: relative;
            overflow: hidden;
            border-bottom: 1px solid $gray-border;
            cursor: pointer;

            * {
                transition: all .3s;
            }

            &:before {
                content: '';
                position: absolute;
                left: -100%;
                bottom: 0;
                height: 2px;
                width: 100%;
                background-color: $black;
                transition: all .7s;
            }

            &:hover {
                color: $primary;

                &::before {
                    left: 0px;
                }
            }
        }

        &__icon {
            height: 2.4rem;
            width: 2.4rem;

            &:nth-child(1) {
                background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.3365 12.878C22.3365 7.23683 17.7904 2.66315 12.1834 2.66315C6.57632 2.66315 2.03027 7.23683 2.03027 12.878C2.03027 17.9768 5.74292 22.2024 10.5969 22.9685V15.8309H8.0189V12.8771H10.5969V10.6281C10.5969 8.06848 12.1131 6.65373 14.4323 6.65373C15.5423 6.65373 16.7049 6.85377 16.7049 6.85377V9.36746H15.4239C14.1624 9.36746 13.7689 10.1549 13.7689 10.9627V12.878H16.5847L16.1346 15.8317H13.7689V22.9693C18.6238 22.2024 22.3365 17.976 22.3365 12.878Z' fill='black'/%3E%3C/svg%3E%0A");
            }

            &:nth-child(2) {
                background-image: url("data:image/svg+xml,%3Csvg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8862 8.67007L12.9353 9.48168L12.1162 9.3823C9.13453 9.00134 6.52967 7.7094 4.31799 5.5396L3.23673 4.46298L2.95822 5.25802C2.36844 7.0303 2.74524 8.90196 3.97395 10.1608C4.62926 10.8564 4.48182 10.9558 3.35141 10.5417C2.95822 10.4092 2.61418 10.3098 2.58141 10.3595C2.46673 10.4755 2.85992 11.9827 3.17119 12.579C3.59715 13.4072 4.46544 14.2188 5.41564 14.6991L6.2184 15.0801L5.26819 15.0967C4.35076 15.0967 4.31799 15.1132 4.41629 15.4611C4.74394 16.5377 6.03819 17.6805 7.47987 18.1775L8.49561 18.5253L7.61093 19.0553C6.30031 19.8172 4.76033 20.2479 3.22034 20.281C2.48312 20.2976 1.87695 20.3638 1.87695 20.4135C1.87695 20.5791 3.87566 21.5067 5.03883 21.8711C8.52837 22.9477 12.6732 22.4839 15.786 20.6454C17.9976 19.3369 20.2093 16.7364 21.2414 14.2188C21.7984 12.8772 22.3555 10.4258 22.3555 9.24979C22.3555 8.48788 22.4046 8.3885 23.322 7.47751C23.8627 6.94748 24.3705 6.36776 24.4688 6.20213C24.6327 5.88743 24.6163 5.88743 23.7808 6.169C22.3882 6.6659 22.1916 6.59965 22.8797 5.8543C23.3876 5.32427 23.9937 4.3636 23.9937 4.08202C23.9937 4.03233 23.748 4.11515 23.4695 4.26422C23.1746 4.42985 22.5193 4.6783 22.0278 4.82737L21.1431 5.10895L20.3404 4.56236C19.898 4.26422 19.2755 3.93295 18.9478 3.83357C18.1123 3.60168 16.8345 3.63481 16.0808 3.89982C14.033 4.64517 12.7388 6.56652 12.8862 8.67007Z' fill='black'/%3E%3C/svg%3E%0A");
            }
        }
    }
}
